html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 240px;
  position: relative;
}

.robot {
  width: 320px;
  position: relative;
  padding-top: 55px;
  margin: 0 auto;
}

.robot-body {
  width: 320px;
  display: block;


.robot-brain {
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}
